<div class="col-md-6">
  
<!--Jumbotron-->
<div class="jumbotron">
  <h2>Search Framing</h2>
  <p>Type a framing unit into the search bar.</p>

  <%= form_tag(companies_update_path, {:method => :get}) do %>
    <% @companies.each do |company| %>
      <%= fields_for 'companies[]', company do |f| %>
        <div class="field">
          <%= f.label company.name %>
          <%= f.check_box :visible %>
        </div>
      <% end %>
    <% end %>
    <div class="actions">
      <%= submit_tag %>
    </div>
  <% end %>
    
  
  
</div> 
<!--/Jumbotron-->

<!--Search bar-->
<form>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input onClick="this.select();" id="myInput" type="search" 
           class="form-control" name="search" placeholder="Search.." 
           autocomplete="off" spellcheck="false">
  </div>
</form>
<br>
<!--/Search bar-->

<!--Table-->
<div id="table-wrapper">
<table class="table table-bordered table-striped" id="table">
<thead>
  <tr>
    <% Framing.column_names.each do |column_name| %>
      <% if goes_in_column column_name %>
        <th><%= beautify_name column_name %></th>
      <% end %>
    <% end %>
  </tr>
</thead>
<tbody id="myTable">
  <% @framings.each do |framing| %>
      <tr>
        <% framing.attributes.each do |column_name, value| %>
          <% if goes_in_column column_name %>
            <td 
                <% if (is_company_name(column_name) == false) || (is_blank(value)) %>
                  class="col-md-2 table-hover"  
                <% else %>
                  <%# Make the cell clickable %>
                  data-href="<%= framing_path(framing) %>" 
                  data-url="<%= column_name %>_<%= value.to_s.downcase %>.jpg"
                  class="col-md-2 table-hover clickable"
                <% end %>>
              <%= value %>
            </td>
          <% end %>
        <% end %>
      </tr>
  <% end %>
</tbody>
</table>
</div>
<!--/Table-->

</div>
