<form>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input id="myInput" type="text" class="form-control" name="search" placeholder="Search..">
  </div>
</form>
<br>
<div id="table-wrapper">
<table class="table table-bordered table-striped" id="table">
<thead>
  <tr>
    <% Framing.column_names.each do |column_name| %>
      <% if is_useful_column_name column_name %>
        <th><%= beautify_name column_name %></th>
      <% end %>
    <% end %>
  </tr>
</thead>
    
<tbody id="myTable">
  <% @framings.each do |framing| %>
      <tr>
        <% framing.attributes.each do |column_name, value| %>
          <% if is_useful_column_name column_name %>
            <td 
                <% if column_name == 'desc' || value == '-' %>
                  class="col-md-2 table-hover"  
                <% else %>
                  data-href="<%= framing_path(framing) %>" 
                  data-url="<%= column_name %>_<%= value.to_s.downcase %>.jpg"
                  class="col-md-2 table-hover clickable"
                <% end %>>
              <%= value %>
            </td>
          <% end %>
        <% end %>
      </tr>
  <% end %>
</tbody>
</table>
</div>

