<div class="col-md-6">
  
<!--Jumbotron-->
<div class="jumbotron">
  <h2>Framing Units</h2>
  <p>Search for a framing unit.</p>
</div> 
<!--/Jumbotron-->

<!--Company filter-->
<div id="company-filter">
<button id="expand-button" type="button" class="btn btn-primary" 
        data-toggle="collapse" data-target="#filter-list">
          Company Filter<span id="expand-text">+</span>
</button>
<div id="filter-list" class="well collapse">
  <b>***NOT FUNCTIONING***</b>
  <%= form_tag(companies_update_path, {:method => :get}) do %>
    <% @companies.each do |company| %>
      <%= fields_for 'companies[]', company do |f| %>
        <div class="field">
          <%= f.check_box :visible %>
          <%= f.label company.name %>
        </div>
      <% end %>
    <% end %>
    <div class="actions">
      <%= submit_tag "Apply", class: "btn btn-primary", id: "filter-apply-button" %>
    </div>
  <% end %>
</div>
</div>
<!--/Company filter-->

<!--Search bar-->
<form>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input onClick="this.select();" id="myInput" type="search" 
           class="form-control" name="search" placeholder="Search.." 
           autocomplete="off" spellcheck="false">
  </div>
</form>
<br>
<!--/Search bar-->

<!--Table-->
<div id="table-wrapper">
<table class="table table-bordered table-striped" id="table">
<thead>
  <tr>
    <th>DESC</th>
    <% @companies.each do |company| %>
      <th><%= company.name %></th>
    <% end %>
  </tr>
</thead>

<tbody id="myTable">
  <% row_count = get_row_count %>
  <% row_count.times do |row_number| %>
    <tr>
      <% framings_this_row = @framings.where(row: row_number) %>
      <td class="col-md-2"><%= framings_this_row.first.desc %></td>
      <% @companies.each do |company| %>
        <% framing = framings_this_row.find_by(owner: company.name) %>
          <% if framing %>
            <td class="col-md-2 table-hover clickable"
                data-href="<%= framing_path(framing) %>"
                data-url="<%= framing.owner %>_<%= framing.standard_number.to_s.downcase %>.jpg">
                <%= framing.standard_number %>
            </td>        
          <% else %>
            <td class="col-md-2">-</td>
          <% end %>
      <% end %>
    </tr>
  <% end %>
</tbody>

</table>
</div>
<!--/Table-->

</div>



