<h1>Framings#index</h1>
<p>Find me in app/views/framing/index.html.erb</p>

<div class="row">
  <div class="col-md-6">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <% Framing.column_names.each do |column_name| %>
            <% if is_useful_column_name column_name %>
              <th><%= column_name %></th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody id="myTable">
        <% @framings.each do |framing| %>
        
          <tr>
            <% framing.attributes.each do |column_name, value| %>
              <% if is_useful_column_name column_name %>
                <td><%= value  %></td>
              <% end %>
            <% end %>
            <td><%= button_to 'delete', framing_path(framing), :method => :delete %></td>
            <td><%= button_to 'edit', framing_path(framing), :method => :delete %></td>
          </tr>
        <% end %>
        <tr>
          <%= form_for(@framing) do |f| %>
            <% Framing.column_names.each do |column_name| %>
              <% if is_useful_column_name column_name %>
                <% if column_name == 'desc' %>
                  <td><%= f.text_area column_name, rows: '4',  class: 'form-control' %></td>
                <% else %>
                  <td><%= f.text_field column_name, class: 'form-control' %></td>
                <% end %>
              <% end %>
            <% end %>
            <td><%= f.submit "Submit", class: "btn btn-primary" %></td>
          <% end %>
        </tr>        
      </tbody>
    </table>
  </div>
</div>
  