<!DOCTYPE html>
<html>
  <head>
    <title>FramingHelper</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script>
      // Loading images
      $(document).on('click', 'td.clickable', function() {
        var active_url  = $(this).data('url');
        var link = $(this).data('href');
        $.ajax({
          type: 'GET',
          dataType: 'script',
          url: link,
          data: { active_url:  JSON.stringify(active_url) }
        });
      });

    </script>
  </head>

  <body>  
  
  <div class="container-fluid">
    <%= render 'header' %>
    <%= render 'search' %>    
    <%= yield %>
  </div>
    
  <div class="footer" style="text-align:center">
    <%= render 'footer' %>
  </div>
  
  <script>
    // Search bar
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    
    // Disable enter on search
    $(document).ready(function() {
      $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
        return false;
        }
      });
    }); 
  </script>
  
  </body>
</html>
